<%= form_for(sponsor) do |f| %>
  <% if sponsor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sponsor.errors.count, "error") %> prohibited this sponsor from being saved:</h2>

      <ul>
      <% sponsor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :prizes %>
    <%= f.number_field :prizes %>
  </div>

  <div class="field">
    <%= f.label :has_won %>
    <%= f.check_box :has_won %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
